@model serCompras.Views.provider
@{
    Layout = "~/Views/Shared/_LT_Admin.cshtml";
    ViewBag.Title = ViewBag.titlePart + " Proveedor";
}

<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
        <div class="header">
            <h2><strong>Datos del Proveedor</strong></h2>
        </div>
        <div class="body">
            @{
                var status = "En Creacion";

                if(Model != null)
                {
                    status = Model.status == 0 ? "Registrado" : Model.status == 1 ? "Revision" : Model.status == 2 ? "Autorizado" : Model.status == 3 ? "Inabilitado" : "Rechazado";
                }
             }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row">
                        <div class="col-6">
                            <label class="control-label ">Razon social</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.legal_name, new { @class = "form-control text-capitalize", maxlength = "100", required = "required" })
                                @Html.ValidationMessageFor(model => model.legal_name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="example-date-input">RUT</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.rut, new { @class = "form-control text-capitalize", maxlength = "100", required = "required" })
                                @Html.ValidationMessageFor(model => model.rut, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label class="control-label ">Correo Electronico</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", Type = "email", maxlength = "100", required = "required" })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="example-date-input">Telefono</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.phone, new { @class = "form-control", maxlength = "100", required = "required" })
                                @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="example-date-input">Direccion</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.address, new { @class = "form-control", maxlength = "100", required = "required" })
                                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="control-label ">Estado</label>
                            <div class="col-md-10">
                                <input type="hidden" name="status" value="@Model.status" />
                                <label class="form-control w-100">@status</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label for="example-date-input">Usuario Representante</label>
                            <div class="col-md-10">
                                <select class="w-100 " name="id_user" required>
                                    <option value="@Model.id_user">Seleccione...</option>
                                    @foreach (var item in ViewBag.Users)
                                    {
                                        <option value="@item.Id">@(item.firstname + " " + item.lastname )</option>
                                    }

                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="w-100 pt-4 d-flex justify-content-around align-items-end">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        @if (Model.status == 2)
                        {
                            //<a href="/Admin/DisableProvider/@Model.id" class="btn btn-warning">Inhabilitar</a>
                        }
                        @if (Model.status == 3)
                        {
                            //<a href="/Admin/DisableProvider/@Model.id" class="btn btn-success">Habilitar</a>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.idProvider != null)
{
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Documentos Requeridos</strong></h2>
            </div>
            <div class="body">
                <div class="py-2">
                    <h6 class="my-1">Documentos Cargados</h6>
                    <table class="docs table-hover rounded w-100">
                        <thead>
                            <tr>
                                <th width="10%">ID</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th width="20%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Documents)
                            {
                                string create = item.created_at.ToString();
                                <tr>
                                    <td>@item.id</td>
                                    <td>
                                        <a class="btn btn-link text-primary" target="_blank" href="@item.path.Replace(@"~","")">
                                            @item.name
                                        </a>
                                    </td>
                                    <td>@create.Split(' ')[0]</td>
                                    <td>@(item.status == 1 ? "Aprobado" : item.status == 2 ? "Rechazado" : "Cargado")</td>
                                    <td>
                                        @if (@item.status == 0)
                                        {
                                            <a class="btn btn-link text-success" href="/Admin/ApproveDoc/?idProvider=@Model.id&id=@item.id"><i class="fas fa-check-circle"></i></a>
                                            <a class="btn btn-link text-danger" href="/Admin/RejectDoc/?idProvider=@Model.id&id=@item.id"><i class="fas fa-times-circle"></i></a>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>





}
