@model serCompras.Views.user
@{ Layout = "~/Views/Shared/_LT_Login.cshtml"; }

<div class="d-lg-flex half">
    <a href="~/Home" class="btn btn-link text-decoration-none text-muted mr-2 back-link font-weight-light"><i class="fas fa-arrow-circle-left mr-1"></i> Volver</a>
    <div class="bg order-1 order-md-2" style="background-image: url('/Content/Assets/Login/images/registrarse1.png');">
        <div> </div>
    </div>
    <div class="contents order-2 order-md-1">

        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-7">
                    <table align="center">
                        <tr>
                            <td align="center">
                                <img align="center" src="/Content/assets/Login/images/logo-1.png" style="width: 40%" align="center">
                            </td>
                        </tr>
                    </table>

                    <h3 class="text-primary text-center my-2">Regístrate</h3>
                    <h5 class="my-2 text-muted text-center">Diligencie los datos requeridos.</h5>
                    <div class="form-wrapper">
                        @using (Html.BeginForm("Signup", "Signup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="w-100 control-label">Nombres</label>
                                <div class="w-100 ">
                                    @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Apellidos</label>
                                <div class="w-100 ">
                                    @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Correo Electronico</label>
                                <div class="w-100 ">
                                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", type="email", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Telefono</label>
                                <div class="w-100 ">
                                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Nombre de usuario</label>
                                <div class="w-100 ">
                                    @Html.TextBoxFor(m => m.username, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Contraseña</label>
                                <div class="w-100 ">
                                    @Html.PasswordFor(m => m.password, new { @class = "form-control", required = "required", id="password"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="w-100 control-label">Confirmar Contraseña</label>
                                <div class="w-100 ">
                                    <input class = "form-control" type="password" id="passwordConfirm" required/>
                                </div>
                            </div>
                            <div class="w-100 mt-4  py-2">
                                <button type="submit" class="btn btn-primary w-100"><i class="fas fa-paper-plane mr-1"></i>Enviar</button>
                            </div>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
